<launch>
    <!-- Set a parameter -->
    <param name="turtle_speed" value="2.0" />

    <!-- Launch the turtlesim_node -->
    <node name="turtlesim_node" pkg="turtlesim" type="turtlesim_node" output="screen"/>
    <node name="my_automation_for_five" pkg="coursework1" type="auto_move.py" output="screen"/>
</launch>

